body { background: #60134d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 29px; display: flex; }
.block-database-0 { color: #96875a; font-size: 18px; margin-bottom: 5px; }
.block-product-1 { color: #927543; font-size: 18px; margin-bottom: 5px; }
.block-sms-2 { color: #4e0ffd; font-size: 14px; margin-bottom: 5px; }
.block-product-3 { color: #9a4904; font-size: 18px; margin-bottom: 5px; }
.block-order-4 { color: #206359; font-size: 20px; margin-bottom: 5px; }
.block-order-5 { color: #20d69b; font-size: 17px; margin-bottom: 5px; }